[2015-07-14 00:00] passcod opened #2 "Python version"
Some linuxen have python3 as default, some have python2. Is the code here python2/3 compatible? If not, can it be? Otherwise, could this script use the `PYTHON=/path/to/python` env var if available?

[2015-07-19 18:15] paulriddle opened #3 "Replacing colons with whitespace causes issues"
I just installed nvm. When I start a new fish session `$NVM_NODEJS_ORG_MIRROR` is not set. If I run `nvm ls-remote` it works as you would expect. But during execution `$NVM_NODEJS_ORG_MIRROR` gets set to `https //nodejs.org/dist`, because bass replaces `:` with whitespace, which breaks things.

Is there a way to assign a colon-separated string to a variable? If we do `bass export foo="foo:bar"` th

[2015-07-29 14:34] externl commented on #3
Also having this issue.

[2015-07-29 17:11] edc commented on #2
(Sorry for the late reply. Github emails went to spam for some reason.)

This is fixed now. Python 3 should work now. Feel free to reopen if you run into troubles. Thanks!

[2015-07-29 17:11] #2 closed

[2015-07-29 18:23] #3 closed

[2015-07-29 18:25] edc commented on #3
Sorry for the late response. Github emails went to spam for some reason.

This issue has been fixed now. Let me know if you still have trouble with it.

[2015-08-26 15:54] natecox opened #7 "Homebrew formula."
I'd love to see this package on homebrew for OSX; is there any interest in writing up a formula?

[2015-08-26 15:56] externl commented on #7
I suspect a formula for this would not be approved. Homebrew requires a certain popularity rating.

[2015-08-26 15:57] natecox commented on #7
I've never published to homebrew before, so I'm not sure what the process is, but isn't that covered by casks?

[2015-08-26 15:58] externl commented on #7
No, casks are more for graphical applications.

[2015-08-28 05:33] edc commented on #7
I feel this package is simple enough it does not justify the use of home-brew. Maybe we could add a simple installer script so one can just install via curl-piped-to-shell, like

    curl https://raw.githubusercontent.com/edc/bass/master/installer.sh | sh

[2015-08-28 15:36] natecox commented on #7
@edc the shell script would be a good option and is fairly commonly used, providing you're not planning on updating the functionality in the future. I know I hate missing updates because I simply don't know about them.

[2015-08-28 15:38] externl commented on #7
@natecox You should look at https://github.com/fish-shell/oh-my-fish. Not sure if they have bass, but I suspect they'd be more than willing to add it.

[2015-09-08 07:38] krzkrzkrz opened #9 "Where do settings normally go?"
Awesome plugin!

Settings like `bass source ~/.nvm/nvm.sh ';' nvm use iojs` should go in `.config/fish/config.fish`?

[2015-09-08 14:22] derekstavis commented on #7
Oh My Fish is now on https://github.com/oh-my-fish/oh-my-fish @externl and @natecox. We have [foreign-env](https://github.com/oh-my-fish/plugin-foreign-env) plugin, which should work exactly like `bass`, but it's written in plain fish.

[2015-09-08 16:42] edc commented on #9
Correct. That will cause `nvm use iojs` to be executed at the startup of every fish session. Alternatively, you could define this function:

[code]

and save it as `~/.config/fish/functions/nvm.sh`. Then you can use the `nvm` command as if you were in bash. For example:

[code]

would invoke `ls-remote` to list all remote versions, and

[code]

would activate version 0.10.36 of nodejs (if it is in

[2015-09-08 16:42] #9 closed

[2015-09-20 15:25] krzkrzkrz opened #10 "Fish shell delay"
In `~/.config/fish/config.fish`, I have:

    bass source ~/.nvm/nvm.sh ';' nvm use 0.12.2

Every time a new Fish shell terminal is opened. It takes almost a second for the shell to load. Without this line, the Fish shell loads fast.

Any pointers?

[2015-09-21 16:47] edc commented on #10
I see you commented in the linked issue. Does switching to n solve the problem? Is this good to close?

[2015-09-21 18:09] krzkrzkrz commented on #10
Yeap `n` does make things much faster. Closing for now

[2015-09-21 18:09] #10 closed

[2015-10-02 17:56] mgadda opened #11 "bass: fish: Unknown command 'source'"
I installed bass per the instructions in [README.md](https://github.com/edc/bass/blob/master/README.md). I ran the example:

[code]

According to the fish documentation, there is no `source` command, only `.`. When I updated `~/.config/fish/functions/bass.fish` and replaced the reference to `source` with `.` the example succeeded.

[2015-10-02 18:02] edc commented on #11
Interesting. There is a source command: http://fishshell.com/docs/current/commands.html#source. What version of fish do you use?

[2015-10-02 18:05] edc commented on #11
The document actually states `.` will be deprecated:

[2015-10-02 18:09] edc commented on #11
OK. I found the commit: https://github.com/fish-shell/fish-shell/commit/5818289c2da8e53b8b52b69064254576ba7d839a. So apparently you need fish version 2.1.0 or higher. Are you able to upgrade fish?

[2015-10-02 18:11] mgadda commented on #11
Oh my apologies. I can certainly update.

[2015-10-02 18:11] #11 closed

[2015-10-05 13:51] taktran opened #13 "`nvm current` reverts the used node version"
I noticed that when I create a nvm function, as suggested in the readme, it reverts the currently used node version (from an `.nvmrc` file)

ie,

In `.config/fish/functions/nvm.fish`

[code]

In a directory where I have a `.nvmrc` file with `iojs-v2.2.1` and I run

[code]

which is good. But then when I run `nvm current`:

[code]

It reverts back to my `default` version, which in this case is `v4.

[2015-10-05 15:36] edc commented on #13
I was not able to reproduce the bug:

[code]

Have you tried the same flow in bash?

[2015-10-05 16:57] taktran commented on #13
I got mostly what you got

[code]

This bit might say something `/Users/ttt/.nvm/nvm.sh: line 2188: echo: write error: Broken pipe`, which points to the 2nd line here

[code]

Any ideas?

[2015-10-05 17:19] edc commented on #13
I suspect it's because of `nvm`. Is it possible for you to downgrade to 0.27.x? I will test with 0.28.0 if you still have the same problem after downgrade.

[2015-10-05 20:30] taktran commented on #13
Nope, downgrading didn't work:

[code]

I've also tried with `0.27.0`, and `0.25.4` (the one you were using)

I don't think it is `nvm` because it works fine when I switch to bash and run the exact commands.

I'm thinking it's something to do with the `bass source ~/.nvm/nvm.sh` line in the `nvm` function

[2015-10-05 20:45] taktran commented on #13
I found the problem. It was because I had the `default` alias. Removing the `default` alias allows `nvm` to just use the previously set `nvm` version ie,

[code]

Note how the nvm version is the same even after going to a different directory. In the previous case, the `default` would override this.

Bash does do what is expected though, so it's still kind of a bug in the bass version. However, it

[2015-10-05 21:41] edc commented on #13
Glad to hear it works out!

I was able to reproduce it, and the bug was because `nvm.sh` [switches to the default](https://github.com/creationix/nvm/blob/06a21284ed200aea7cee4d7a9c78e356184356b8/nvm.sh#L2191) every time it is source'd. Bass has to source `nvm.sh` on every nvm command, so this is a limitation that's a bit hard to address. For now, I would suggest to not add a `default ` alias as a

[2015-10-20 07:16] shawnbon206 opened #14 ""At the moment, Bass does not work with interactive utilities.""
I wish to compile android using fish, the only thing stopping me is [envsetup.sh](https://github.com/android/platform_build/blob/master/envsetup.sh), which has some interactive parts.

[2015-10-21 08:56] janraasch opened #15 "error: dictionary update sequence element #27 has length 1; 2 is required"
Hi there,

this may be a super newbie problem, but I am not afraid to ask :).

Everytime I run `bass` I get the error

[code]

even for very simple this, e.g.

[code]

I am running `bass` on Mac OS 10.11 El Capitan. `fish` is installed via `brew`.

`brew info fish` yields

[code]

and

[code]

Adding `traceback` in the error handler

[code]

yields some more information:

[code]

when running e.g.

[2015-10-21 10:00] janraasch commented on #15
Ok. I found it. This is gonna be funny. I had

[code]

at the beginning of my `~/.config/fish/config.fish` file.

Apparently this was causing trouble when parsing the `old_env`. Is there a way to work around this? I would love to see that dear *fish dogg* again.

[2015-10-21 16:22] edc commented on #15
Thanks for reporting it. I created a PR to fix it. If you cannot wait for it to merge, you can grab the [ updated __bass.py](https://raw.githubusercontent.com/edc/bass/env_reader/__bass.py) file. Let me know how it goes.

[2015-10-21 19:50] janraasch commented on #15
@edc great. Thanks a lot.

[2015-10-22 17:30] #15 closed

[2015-10-22 17:31] edc commented on #15
@janraasch The PR has been merged. Let me know if you still have the same issue.

[2015-10-23 06:48] janraasch commented on #15
Works like a charm. Thank you, @edc.

[2016-01-04 09:43] alexpearce opened #21 "Support aliases"
I've come across bash scripts that define aliases, to shorten paths to executables for example, such as

[code]

Sourcing such a script with `bass` does not convert the bash alias to a fish one. This can be seen interactively:

[code]

As far as I can tell, `bass` works by comparing the output of bash's `env` before and after running the command passed to `bass`, so any aliases defined won't be ca

[2016-01-19 07:41] bucaran commented on #7
@externl @natecox

No need to reinvent the wheel. If you want to use `bass`, which I recommend, just use follow the recommended instructions in the README.

If you are a plugin-minded person, either the simple [`fundle`](https://github.com/tuvistavie/fundle) or [Fisherman](http://fisherman.sh) let you use bass.

[code]

[2016-01-20 18:11] ljharb commented on #13
Can bass not do something along the lines of (pseudocode) "if nvm is already sourced, and `nvm current` works, store that value in a variable, and after sourcing nvm, `nvm use --silent $previousValue`"?

It's slightly inefficient but not *that* bad.

[2016-01-20 18:13] ljharb commented on #13
Does fish + bass support sourcing with arguments? if so, I would consider adding (in addition to the `--install` argument) a `--no-use` argument that bypassed the auto-use behavior.

[2016-01-20 19:07] edc commented on #13
The short answer is yes. The sourcing is done by bash, so as long as bash supports it, it works. I tested with the following fish function:

[code]

Then I modified nvm.sh to add support of `--no-use`:

[code]

Now it works flawlessly:

[code]

I think it's a pretty good solution!

[2016-01-20 19:53] ljharb commented on #13
Awesome. I'll add it as part of https://github.com/creationix/nvm/issues/972 (and the ordering of `--install` or `--no-use` won't actually matter, but `--no-use` will of course trump `--install`) and update here when it's released.

[2016-01-20 19:56] edc commented on #13
Great! Thanks, @ljharb!

[2016-01-21 09:44] ljharb commented on #13
Done and released in v0.30.2.

[2016-01-21 17:08] edc commented on #13
Thanks, @ljharb!

@taktran, is this good to close?

[2016-01-23 15:18] philbooth opened #23 "Error, missing file __bass.py"
Running on OSX, installed bass via fisherman.

[code]

I also tried installing via fundle but got a different error, which I'll raise separately.

[2016-01-23 15:26] philbooth opened #24 "Weird bash error after installing via fundle"
[code]

No idea why bash is mentioned there, fish is the default shell on my machine. Maybe it is a fundle problem, feel free to close if so.

[2016-01-24 06:39] edc commented on #23
I think this is an issue with fisherman. Looks like it moves the `.fish` file but left the companion `.py` behind. I don't know enough about fisherman to fix this.

[2016-01-24 06:39] #23 closed

[2016-01-24 07:02] edc commented on #24
This is expected :) You need to run `bass` with a bash command. For example, `bass echo hello!`, or `bass export X=1`.

(I just pushed a [new commit](https://github.com/edc/bass/commit/cee10d460afa750209548f84766a2cdd33d9323d) so a usage message is displayed instead the error you noticed.)

[2016-01-24 07:02] #24 closed

[2016-04-11 19:53] kWhittington opened #27 "fisher: I couldn't find `bass` in the index."
Hey guys,

I'm using `fish shell` w/`fisherman`. When I attempted to follow the instructions on your `README.md`, I ran into an error:

[code]

Any idea why `fisherman` might not be able to see `bass`?

[2016-04-14 18:30] shangsunset opened #28 "while sourcing nvm command works, npm and node command are not working properly"
Hi,
So ive put the `nvm` function in the `config.fish` and installed `node` with nvm. however, i always get `fish: Unknown command 'node'` on shell startup, so is `npm`. they will work after i execute a `nvm` command though, such as `nvm ls`.

if `nvm` is already sourced, how come `node` wont work?

ps: tested in bash. node and npm work normally.

my config.fish:

[code]

[2016-04-15 09:48] bucaran commented on #27
@kWhittington In order for fisherman to know about bass, it must download a copy of the index first. How did you install fisherman?

If you used the curl | fish installer then this error is very strange, if you used the manual method, then I can see why you're getting the error, since the index hasn't been downloaded.

[2016-04-15 10:01] bucaran commented on #14
@shawnbon206 Were you able to figure something out?

[2016-04-15 10:04] bucaran commented on #28
@shangsunset I think the correct function is:

[code]

[2016-04-15 22:33] edc commented on #28
@shangsunset let me know if what @bucaran suggested works for you.

[2016-04-15 22:34] edc commented on #21
@alexpearce great idea. Not sure when I will have time to add that. Patch welcome though :)

[2016-04-15 22:34] #13 closed

[2016-04-15 22:38] #7 closed

[2016-04-15 23:54] shangsunset commented on #28
unfortunately, it didnt work.

[2016-04-16 01:53] bucaran commented on #28
@shangsunset

Why

[code]

Isn't /usr/local/bin/ supposed to be in PATH by default?

[2016-04-16 03:17] shangsunset commented on #28
Hey @bucaran, I deleted `set -g -x PATH /usr/local/bin $PATH` and this is the output from running `printf "%s\n" $PATH`:

[code]

[2016-04-16 04:09] bucaran commented on #28
`/Users/shangsunset/.nvm/versions/node/v5.10.1/bin` shows first than `/usr/local/bin`, which makes sense, but what's inside the `nvm` path?

[code]

[2016-04-16 04:14] shangsunset commented on #28
[code]

[2016-04-16 04:15] bucaran commented on #28
And you are saying that when you run, `nmp` or `node`, you get a "command not found" error?

[2016-04-16 04:15] shangsunset commented on #28
yes

[2016-04-16 04:16] bucaran commented on #28
And what happens if you do

[code]

[2016-04-16 04:18] bucaran commented on #28
Also, do you have a .bash_profile file in your `$HOME` directory? and if you do, what is its contents?

[2016-04-16 04:23] shangsunset commented on #28
output from `/Users/shangsunset/.nvm/versions/node/v5.10.1/bin/node -v`:
[code]

.bash_profile:
[code]

does .bash_profile still matter if we are using fish?

[2016-04-16 04:26] bucaran commented on #28
It does not matter in fish, but nvm is a bash script and I wanted to see if you were defining any aliases.

So, if `/Users/shangsunset/.nvm/versions/node/v5.10.1/bin/node` works, how come `node`, does not work?

It seems to me there is a deeper problem here.

[2016-04-16 04:28] bucaran commented on #28
Right, it does not matter in fish, but nvm is a bash script and I wanted to see if you were defining any aliases.

So, if `/Users/shangsunset/.nvm/versions/node/v5.10.1/bin/node` works, how come `node`, does not?

It seems to me there is a deeper problem here.

EDIT: Just to try something:

[code]

And try running `node` again.

[2016-04-16 04:31] shangsunset commented on #28
mmm that works

[2016-04-16 04:32] bucaran commented on #28
Check what's inside:

[code]

[2016-04-16 04:34] shangsunset commented on #28
[code]

[2016-04-16 04:38] bucaran commented on #28
Well, that looks alright, I guess.

Comment out all of your config.fish, and just leave this

[code]

Then reload the shell and try again.

[2016-04-16 04:42] shangsunset commented on #28
still getting `fish: Unknown command 'node'` :(

[2016-04-16 04:45] bucaran commented on #28
And if you modify your PATH like this?

[code]

[2016-04-16 04:48] shangsunset commented on #28
yea node works with `/Users/shangsunset/.nvm/versions/node/v5.10.1/bin` in PATH

[2016-04-16 04:49] bucaran commented on #28
So, the problem is solved. What is the issue?

[2016-04-16 04:51] shangsunset commented on #28
so i need to put `set -gx PATH /Users/shangsunset/.nvm/versions/node/v5.10.1/bin $PATH` in my config.fish?

[2016-04-16 04:52] bucaran commented on #28
@shangsunset Actually, not, that's exactly `nvm`'s job. So, what you need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc.

[2016-04-16 05:07] bucaran commented on #28
@shangsunset

Nope, that's exactly `nvm`'s job. So, what you need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc.

Note that you need to do this **everytime**, because `nvm` modifcations in your PATH will not be persisted across sessions.

What's the aftermath of all this? Were you using `nvm` incorrectly?

[2016-04-16 05:13] bucaran commented on #28
@shangsunset

Nope, that's exactly `nvm`'s job. You need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc., **everytime**.

Because `nvm` mods in your PATH will not be persisted across sessions AFIK.

I think you were just using `nvm` incorrectly, so not your fault, I was confused about this too.

[2016-04-16 05:13] bucaran commented on #28
@shangsunset

Nope, that's exactly `nvm`'s job. You need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc., **everytime**.

Because `nvm` mods in your PATH will not be persisted across sessions AFIK.

I think you were just using `nvm` incorrectly, so not your fault, I was confused about this too.

[2016-04-16 05:13] bucaran commented on #28
@shangsunset

Nope, that's exactly `nvm`'s job. You need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc., **everytime**.

Because `nvm` mods in your PATH will not be persisted across sessions AFIK.

I think you were just using `nvm` incorrectly, so not your fault, I was confused about this too.

[2016-04-16 05:21] bucaran commented on #28
@shangsunset

Nope, that's exactly `nvm`'s job. You need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc., **everytime**.

Because `nvm` mods in your PATH will not be persisted across sessions AFIK.

I think you were just using `nvm` incorrectly, so not your fault, I was confused about this too.

[2016-04-16 05:42] bucaran commented on #28
@shangsunset

Nope, that's exactly `nvm`'s job. You need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc., **everytime**.

Because `nvm` mods in your PATH will not be persisted across sessions AFIK.

I think you were just using `nvm` incorrectly, so not your fault, I was confused about this too.

[2016-04-16 08:24] taktran commented on #13
Great, thanks!

[2016-04-16 08:30] bucaran commented on #28
@shangsunset

Nope, that's exactly `nvm`'s job. You need to do is run `nvm` or `nvm use foo` when you restart your shell / cd into a path with a `.nvmrc`, etc., **everytime**.

Because `nvm` mods in your PATH will not be persisted across sessions AFIK.

I think you were just using `nvm` incorrectly, so not your fault, I was confused about this too.

[2016-04-16 19:36] alexpearce commented on #21
I can see if it can work, for sure.

Can you think of something that might make this a non-starter, or only applicable for certain aliases? I have a feeling I had something when I wrote the PR, but now I can't remember 😞

[2016-04-17 00:27] shangsunset commented on #28
I need to run `nvm` every time when i use `node` or `npm` from now on? That doesnt sound very ideal...
I wonder why I didnt have to run `nvm` every time when i was using `zsh` or `omf/plugin-nvm`. hmmmm...

[2016-04-17 05:29] bucaran commented on #28
@shangsunset If you use `nvm` like a function, you need to run it **everytime**, if you don't want to run it everytime, you can **source** `nvm` in your config.fish or create a snippet that does it for you.

I already answered how you can accmplish all that here: https://github.com/creationix/nvm/issues/303#issuecomment-210738874

[2016-04-17 05:33] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new one with this:

[code]

[2016-04-17 05:39] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-17 05:44] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-17 05:44] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-17 05:44] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-17 05:44] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-17 05:44] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-17 06:25] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-17 17:38] bucaran commented on #28
@shangsunset

Just `rm ~/.config/functions/config.fish`, and create a new `config.fish` with this:

[code]

[2016-04-19 03:16] shangsunset commented on #28
@bucaran

Really appreciate your help and patience. However, even though i deleted my existing config.fish and created a new one with what you provided, `node` and `npm` are still not available upon shell start. unless i run `nvm use node`.

[2016-04-19 03:24] bucaran commented on #28
@shangsunset Why are you using nvm? I think you could make your life easier if you switched to tj/n. The use case there looks more suited to you.

https://github.com/tj/n

[2016-04-19 03:29] shangsunset commented on #28
ok thanks.

[2016-04-19 13:46] #28 closed

[2016-04-23 01:01] bucaran opened #29 "Would you like to move into the fisherman organization?"
Hi @edc.

fisherman just turn 2.0 and a lot of things changed, namely, we don't depend on an index anymore. In order to improve discoverability I am trying to reach out to some of the many plugin authors and ask them whether they would like to join the fisherman org and bring their plugins / themes with them.

If you enter the org, you will still be the only admin of your project, what changes is

[2016-04-23 16:47] therealmarv opened #30 "fisher install bass"
Do I do something wrong? I want to install bass with this command:

[code]

but it tries to fetch from a 404 repo http://github.com/fisherman/bass . Here is the output (ignore my set warnings there):
[code]

Or is the [bass readme](https://github.com/edc/bass#using-fisherman) outdated with the command `fisher install bass` ?

[2016-04-23 16:49] bucaran commented on #30
@therealmarv There was a major version bump recently. Please upgrade to 2.0 (fisherman).

`curl -L git.io/fisher-up-me | fish`

[2016-04-23 16:59] therealmarv commented on #30
ok, I applied that command you mentioned. Got the same error. :(
BTW my fish shell is brand new (just installed today) and fisherman too.

fish -v:
[code]

fisher --version:
[code]

[2016-04-23 17:00] bucaran commented on #30
Please run

[code]

[2016-04-23 17:02] therealmarv commented on #30
That works! So the documentation here is wrong ;)
https://github.com/edc/bass#using-fisherman

[2016-04-23 17:02] bucaran commented on #30
I'll PR right away.

Here is my outupt by the way.

<img width="621" alt="screen shot 2016-04-24 at 2 01 52 am" src="https://cloud.githubusercontent.com/assets/8317250/14762877/883035a6-09c0-11e6-96c6-0e31256d7c70.png">

@therealmarv One more thing, make sure to read faq#1.
https://github.com/fisherman/fisherman#1-what-is-the-required-fish-version

[2016-04-23 17:04] therealmarv commented on #30
@bucaran thanks for mentioning. I've upgraded to head of fish (funny somehow 😄) with homebrew. It seems to work everything including brass.

[2016-04-23 17:12] bucaran commented on #30
Sweet! Can close then :)

[2016-04-23 17:59] #30 closed

[2016-04-23 17:59] edc commented on #29
@bucaran That sounds good to me!

[2016-04-23 18:05] bucaran commented on #29
Awesome! Invited. You should be able to transfer the repo now.

[2016-04-23 18:05] #29 closed

[2016-04-23 18:08] bucaran commented on #27
Hi @kWhittington, there was a **major** version bump recently.

Please upgrade to 2.0 (fisherman).

The following script will fix you up quickly (from scratch):

[code]

If you are unsure about that, please check out the README for other instructions.

When you're done with that you should be able to install `bass` as usual.

[2016-04-23 18:09] edc commented on #29
I did not realize I have to transfer the ownership change the URL. Is that necessary?

[2016-04-23 18:13] bucaran commented on #29
To help discoverability. That's the goal of all this.

You don't have to give up your ownership. You will always be both the **owner** and **admin** of your repo. If you transfer the repo to the org the only thing that will change is the URL.

If you are uncomfortable with that for some reason, then nevermind :)

fisherman will continue to support this plugin and others.

[2016-04-23 18:20] edc commented on #29
🆒 I will think about it

[2016-04-23 18:23] kWhittington commented on #27
Thx. I upgraded and temporarily had my configuration disabled (because of the `.config/fisherman` copying to `fisherman-you-can-delete-me`). Do you suggest only keeping configuration (e.g. `conf.d`, `functions`, etc.) within `.config/fish/` and not `.config/fisherman/`?

Anyway, upgraded and still had a slight hiccup installing `bass`:
[code]

I was thrown off at first by the `Try using a namespac

[2016-04-24 02:07] bucaran commented on #27
Yep. Your fisherman config ~/.config/fisherman should only list installed plugins and your fish config should be the usual one that comes out of the box with fish.

Ah, yes we are not using an index anymore, so need to prepend the full namespace to the plugin.

I suggested @edc to join the fisherman org here https://github.com/edc/bass/issues/29 for discoverability, but no luck haha. It's cool. Le

[2016-04-27 00:08] bucaran commented on #28
@shangsunset Built this just for you

https://github.com/fisherman/nvm

[2016-04-27 00:23] ljharb commented on #28
Please do not steal other people's project names.

[2016-04-27 00:28] bucaran commented on #28
@ljharb Dude, you are taking this the wrong way. The purpose of fisherman/nvm is to serve as a bridge between creationix/nvm and the missing nvm solution in fish. Why couldn't you think of that before thinking I was stealing your project's "name"?

[2016-04-27 00:31] ljharb commented on #28
I did - I asked you politely to change it. You said "No". call it `nvm-fish` if you like - but not "nvm". That's confusing for users, and makes googling harder, even if it *wasn't* rude and potentially an implicit trademark violation.

[2016-04-27 00:38] bucaran commented on #28
People that use fisherman know stuff inside the org are all plugins for fish, kind of like ohmyfish and similar projects. I wouldn't say it's confusing.

[2016-04-27 00:40] ljharb commented on #28
You were politely asked by a project whose name you copied to change it. Whether you agree that it's confusing is irrelevant - it's not cool, under any circumstances.

[2016-04-27 00:51] bucaran commented on #28
First, you were **not** polite, you were not rude either, but you were definitely very hostile. You even called me an "asshole". Why should I accept that? People on the internet are very confrontational when facing a message box. I wish you would have called me an asshole in my face...

Second, I worked hard on this thing, not that it matters, but I put it there because a lot of people have asked

[2016-04-27 01:04] ljharb commented on #28
so call it "nvm in fish". I insulted you after you posted a *very* rude one-word answer "No", and after you called me "bro" (which is also rude; you don't know me) and told me to "chill".

I'm glad you worked hard on it, and I hope your project is successful - but it should be successful under its own name, not by stealing the name of something else. If you don't change your name, and your project

[2016-04-27 01:08] bucaran commented on #28
Well, that's a touching way to put it. There you go: https://github.com/fisherman/nbm ;)

And, I said "dude". From there to asshole it's quite a big jump.

[2016-04-27 01:12] ljharb commented on #28
Thanks, much obliged.

[2016-04-27 01:27] bucaran commented on #28
@ljharb Ping ↑

[2016-04-27 01:54] ljharb commented on #28
@bucaran  thank you, that sounds great. Please feel free to send a PR.

[2016-04-27 09:46] FabioAntunes commented on #28
@bucaran fish-nvm was way better than fin, it's very funny naming stuff after fishes and stuff related to them, but that makes googling hard as hell.

If I want a nvm for fish I will search for that on google, not fin. If I want to run bash script on my fish shell I will search for fish bash wrapper or fish bash runner, not bass.

@shangsunset You can solve your problem sourcing nvm every time you

[2016-04-27 09:51] bucaran commented on #28
@FabioAntunes Which is why I named it nvm in the first place, but then ljharb was right, I can't just name my project after nvm because we are not affiliated so I changed it to fin.

fin is not a drop-in replacement for nvm nor it requires `nvm` as a dependency, which actually threw off a few people at first, ping @amir20.

Yeah, I couldn't agree more.

[2016-06-06 17:12] brandonweiss opened #32 "Seems to break when trying to evaluate the set builtin"
I guess Bash has `set` as well.

[2016-07-24 20:51] zaclimon commented on #14
If somebody is interested I've made a bash script in which it is possible to compile Android with Fish.

Here's the link:

https://github.com/zaclimon/Personnal-Stuff/blob/master/scripts/apbs

Don't hesitate if you have some potential ideas for it.

[2016-07-24 23:08] bucaran commented on #14
@zaclimon Looks terrific! Good job :)

[2016-09-14 22:06] cacarrara opened #34 "Last merge broke nvm execution with arguments"
I couldn't find the reason, but running the last version of Bass (3e4c13c) isn't possible to pass arguments to nvm execution. The output says that `Bass encountered an error!` with `exit status: 3`.

I've checked out to previous commit (cba21b3) and everything back to work successfully.

[2016-09-21 23:51] joseluisq opened #35 "AttributeError: 'exceptions.AttributeError' object has no attribute 'returncode'"
[code]

[2016-09-27 08:05] Rush commented on #32
[code]

[2016-09-29 04:55] marcosfede commented on #21
Is there any progress on this? I just found about bass and It's what I've been missing, but I wish my aliases script would work with fish

[2016-10-07 03:19] edc commented on #35
@joseluisq The error you saw was because of another error when running nvm. Bass puked when it tries to report the original error. The error reporting should be fixed now. Please download a new version and try again.

[2016-10-07 03:19] #35 closed

[2016-10-07 03:32] edc commented on #34
Can you provide an example? Also, I pushed a few minor fixes that may make a difference here. Please give it a shot.

[2016-10-07 03:33] edc commented on #32
@brandonweiss can you give me an example?
@Rush your error is because of a Unicode file name. Can you try the last release?

[2016-10-07 03:34] #27 closed

[2016-10-07 03:45] edc commented on #21
Just added alias support. LMK if you run into issues:

[code]

[2016-10-07 03:45] #21 closed

[2016-10-07 04:23] brandonweiss commented on #32
Sorry, I stopped used bass/fish a while ago.

[2016-10-07 04:25] edc commented on #32
no worries, @brandonweiss

[2016-10-07 05:08] andersonba commented on #34
[code]

[2016-10-07 06:00] edc commented on #34
@andersonba. I got
[code]

Did you pull the latest version?

[2016-10-07 17:12] tinchoz49 commented on #34
Hi guys, i'm using the last version and `bass source ~/.nvm/nvm.sh --no-use ';' nvm ls` works fine but i get the same error that you are saying @andersonba when i run:`bass source ~/.nvm/nvm.sh  --no-use ';' nvm -v`

[code]

[2016-10-08 08:12] andrew-kennedy opened #37 "import bash completions through bass?"
Is there a way to get bass to evaluate bash completions? For example, the angular-cli provides a completion script to add to .bashrc in order to get tab completions for the `ng` tool. I'd love to have these completions available in fish through bass if possible, but I'm not sure if it's even possible.

[2016-10-17 21:34] joseluisq commented on #35
@edc the error persists yet:

[code]

[2016-10-29 16:04] corysimmons opened #38 "Doesn't work"
[code]

[2016-11-01 20:03] edc commented on #38
You don't need `bass` to run any ruby code. Just run it without `bass`:

[code]

[2016-11-01 20:03] #38 closed

[2016-11-01 20:05] edc commented on #34
@tinchoz49 I don't think that is a real error. It is nvm itself reporting an error when there is actually no error. It does affect normal usage.

[2016-11-01 20:06] edc commented on #37
That is an interesting idea. How does bash completion works?

[2016-11-11 15:00] rocketraman opened #39 "Support for sdkman"
sdman is a virtualenv-like utility for the java ecosystem: http://sdkman.io/ (source: https://github.com/sdkman/sdkman-cli)

Currently, bass grabs the environment variables after running `sdkman-init.sh`, but does not setup the `sdk` command itself. I'm not sure what that is -- perhaps it has something to do with the nested `source` calls?

[2016-11-16 16:16] bbatsche opened #40 "Close Failed in File Object Destructor"
I'm getting the following error when trying to use `bass` to run some `nvm` commands:

The command:

[code]

[code]

What's weird is that some other (less useful) `nvm` commands are still working. If I do `bass source $NVM_DIR/nvm.sh --no-use ';' nvm ls` I get the expected output.

- `fish --version`
    - `fish, version 2.4.0`
- `python --version`
    - `Python 2.7.12`

[2016-11-19 23:36] bbatsche commented on #40
Doing some quick and dirty debugging, it looks like the `nvm use --lts --delete-prefix` is taking too long to complete. Dumping out `new_env` on repeated calls is giving me incomplete output of varying length, so the parent process isn't receiving all of the output from the `env_reader` command and ultimately is getting malformed JSON.

[2017-03-27 11:18] pranaypratyush opened #41 "`export` doesn't work with bass"

[2017-03-27 11:29] pranaypratyush commented on #41
What I meant is that `export` doesn't work when specifying path variables.

[2017-04-23 16:54] edc commented on #41
@pranaypratyush sorry for the late reply. Make sure you quote `$PATH` if you are to append something to the path. For example, use `bass export PATH='$PATH:/usr/binx'` instead of `bass export PATH=$PATH:/usr/binx`. This is because fish will expand `$PATH` into space-separated items and it becomes invalid command in bash.

[2017-04-23 16:54] #41 closed

[2017-04-23 17:05] #34 closed

[2017-04-23 17:12] edc commented on #39
This is the same as many other tools such as nvm. The trick is to call `sdk` also with bass. See the readme section on nvm for an example.

[2017-04-23 17:25] #39 closed

[2017-05-11 11:50] honza opened #43 "Open source?"
Is this project open source? If so, would you mind attaching a license? Thanks!

[2017-05-11 21:08] Markcial opened #44 "Dollar sign on command output interrupts execution"
From https://github.com/sdkman/sdkman-cli/issues/294#issuecomment-300814204

Replacing line 50 of `__bass.py` with the following content fixes this issue:

    script_lines.append("printf %s;printf '\\n'" % json.dumps(line.replace('$', '\$')))

but i don't know if there is more implications

[2017-05-18 16:35] edc commented on #43
Just added an MIT license. Thanks for the feedback!

[2017-05-18 16:35] #43 closed

[2017-05-18 16:46] edc commented on #44
@Markcial can you try doing it on line 75 just to be more conservative? If it works, would you mind sending a pull request?

[2017-05-18 16:47] edc commented on #44
Correction: i meant line 72

[2017-05-19 17:56] mnewt commented on #14
I run bash scripts that prompt for information. One example is when I log in, I have a script (sourced using bass) that starts ssh-agent and runs ssh-add. ssh-add prompts for my password. The script prints out during execution and prompts successfully. Everything works great in this scenario.

This seems to indicate that bass *does* work with interactive utilities. Was functionality added or is th

[2017-05-20 15:58] zaclimon commented on #14
It does work with _some_ utilities as your case doesn't show any problems.

However, the Android build script (envsetup.sh) is kinda a sneaky one. I don't know how to say it as I might be wrong in terminologies but from what I see, it does depend on some Bash specific stuff in order to work. (It also has some difficulties with other shells like zsh if I remember correctly)

In this regard, it is n

[2017-05-22 19:57] #14 closed

[2017-05-22 20:07] shawnbon206 commented on #14
I closed this issue, zaclimon ported the build script and I'm not using bass anymore. But this issue was mentioned in the bass README.md so someone may want to reopen it later if they come up with a more constructive example of this issue.

[2017-05-24 07:02] Markcial commented on #44
Sorry, been busy lately, let me do the PR so you can check it, thanks

[2017-05-24 16:05] #44 closed

[2017-05-24 16:05] edc commented on #44
Fixed in #45 by @Markcial

[2017-05-24 16:13] edc commented on #14
I've updated the README to make it clearer that Bass *may or may not* work with interactive utilities.

[2017-06-08 08:49] despairblue opened #46 "set `$SHELL` to `(which bash)`"
Some tools use `$SHELL` to find out in which shell their running and what syntax to print. Those tools will output fish syntax in bash when `$SHELL` is set to fish. One of those tools is `opam`, the ocaml package manager (see https://github.com/ocaml/opam/issues/2162):

[code]

The reason I want to use `bass` for this is, that the bash config works, whereas their shipped fish config breaks the ent

[2017-07-11 09:23] j0hnsmith commented on #37
Someone says it can be done here https://stackoverflow.com/a/36830765/121725 but I can't get it to work (with `gcloud`).

[2017-08-08 18:18] daveyarwood opened #47 "Bass does not track unset variables"
I'm building some tooling around bass, and I noticed that when sourcing a bash script that `unset`s environment variables (e.g. for clearing sensitive information once it's no longer needed), bass does not  remove the variable from the fish environment.

I'm happy to contribute a PR if needed -- I took a quick look at [__bass.py](https://github.com/edc/bass/blob/master/functions/__bass.py), and it

[2017-08-08 18:34] daveyarwood commented on #47
#48 fixes this for me when I make the change to __bass.py locally.

[2017-08-08 19:13] #47 closed

[2017-08-08 19:18] edc commented on #46
I think the trick is tun the tool (like `opam`) with bass. bass will run the tool in a bash shell, which the tool should see the SHELL set to bash instead of fish. For example:

[code]

or

[code]

[2017-08-08 19:18] #46 closed

[2017-08-09 08:35] despairblue commented on #46
Sorry I don't get that part.

`bass echo \$SHELL` is outputting `fish`, which seems the problem.

I just updated to master, and sadly by doing that loosing my local workaround (I somehow patched `__bass.py` to reset the `SHELL` variable, but cannot remember how).

[code]

[2017-08-11 06:02] worp1900 commented on #34
As I am encountering this error as well I'll reopen this. How can we confirm that it's nvm throwing the error?

Executing nvm through bass on fish gives me the same as the OPs experienced:

    $ ≻ bass source ~/.nvm/nvm.sh --no-use ';' nvm -v

    Node Version Manager

    Note: <version> refers to any version-like string nvm understands. This includes:
      - full or partial version numbers, st

[2017-08-24 09:57] despairblue commented on #46
@edc just a follow up, I also tried the python solution:

[code]

[2017-09-03 23:09] yodahuang opened #51 "bass fails in complicated situation"
Sorry please close this issue since I found that this situation is not handlable by bass.

[2017-09-10 23:29] #51 closed

[2017-09-10 23:30] edc commented on #51
BTW, for `sudo`, you run it after bass, not before. For example:

[code]

[2018-01-03 06:27] dpinol opened #52 "can't use alias"
Hi,
does bass support converting bash alias?

`~> bass alias gcb="git pull"
bash: line 0: alias: pull: not found
exit code: 1
Bass encountered an error!`

If I bass the following file...
`~> cat kk.sh
set -x
alias gcb="git pull"
alias
gcb`
...I get:
[code]

I saw https://github.com/edc/bass/issues/21, but the problem is that
`alias "xx='echo lol'"`
is not valid in bash
[code]

It should be :
[code

[2018-01-08 07:31] edc commented on #52
Glad you find #21 :) I was about the comment that. Let me know if you run into any other issues.

[2018-01-08 07:31] #52 closed

[2018-01-08 10:00] dpinol commented on #52
@edc Hi, why was #52 closed? I understand it describes a common limitation and #21 is also closed

thanks!

[2018-01-16 16:48] edc commented on #52
Sorry for the late response. Your trouble was due to bash not expanding aliases in script mode. You just need to add `shopt -s expand_aliases` to the beginning of your bash script.

For example:

[code]

Now this is a valid bash script. If you wish to execute the script, you don't need bass. You just need to bash it:

[code]

If what you want is to "inherit" the aliases and other environment varia

[2018-02-23 18:25] ZNackasha-intrepid opened #54 "Functions are not available in shell when run in source"
My current project requiters me to compile android. to accomplish this I will need to run the following command.
[code]
The envsetup.sh file can be retrieved from the [platform build](https://github.com/aosp-mirror/platform_build ) repo

once this command is ran multiple functions defined in the shell scrip should become available to the user in the shell. this include the `mmm ` function

running

[2018-03-18 03:39] edc commented on #54
@ZNackasha-intrepid Have you tried `bass source envsetup.sh ';' mmm`? This is how we get nvm to work with Bass. If it works, then you can create a fish function to invoke that so you don't have to type that long command.

[code]

[2018-04-04 18:40] thatneat opened #55 ""source: command not found" running basic example"
Using the latest version of bass from github, bass doesn't seem to work at all. No matter what I try to run with it, I get the error message "source: command not found".

[code]

[2018-04-10 15:51] edc commented on #55
I suspect your fish version is too old. What is your fish version? Mine is 2.6.0 and it works find:

[code]

[2018-04-10 16:11] thatneat commented on #55
Yep, you nailed it. I had fish 2.0.0, apparently `source` was added somewhere between that and 2.6. Couldn't pin it down in the [changelog](https://fishshell.com/release_notes.html), though.

[2018-07-18 17:13] cap10morgan opened #57 "Publish a release tag so this can be added to Homebrew"
If you publish a release on GitHub (and keep doing as you release updates), then this can go into the Homebrew package manager, which would be really handy. I'd be happy to do the packaging work once a release tag is pushed. Thanks!

[2018-07-20 06:22] edc commented on #57
Done! Thanks!

[2018-07-20 06:22] #57 closed

[2018-07-20 06:23] #54 closed

[2018-09-19 00:09] JeremyBYU opened #59 "Unable to source a bash file"
I found this bash file online and am trying to source it with `bass`.  It basically allows anaconda and ROS to coexist together; basically just modified python path and path env variables. However it doesnt seem to working when used with bash. Is the script to complicated to being converted for bass?

Script:
[code]

Error when running `bass source FILE_NAME.bash`
[code]

[2018-10-15 22:45] rsalmei opened #63 "Printf command fails in bass if feeded with "--""
Hello,
I have several scripts that are failing inside bass with the same pattern:
[code]

The above output was running `nosetests`.

I'm using fish version `2.7.1` with fisher and bass updated.

Thank you.

[2018-11-12 18:42] edc commented on #59
The immediate issue is that we need to replace `$@` with `$argv` when translating bash alias to fish, but that won't get us very far: because of the way it works, Bass' support of alias is very basic. In this script, the aliases wraps around bash functions, and it's not easy to get it to work nicely.

My suggestion is you change the script and replace aliases with functions, and then you can use s

[2018-11-12 18:42] #59 closed

[2018-11-12 18:43] edc commented on #63
@rsalmei sorry about the late response. Can you provide a way for me to reproduce it?

[2018-11-12 18:47] JeremyBYU commented on #59
Thank you for your input.

[2018-11-20 23:21] d0x commented on #34
@edc can u explain why the exit code is printed instead of returning it transparently? Or maybe adding an option like `--propagate-exit-code`. That would help for script like `nvm` were the exit code doesn't matter.

[2018-11-23 06:30] edc commented on #34
@d0x I just pushed a commit (1e534b9) that propagates exit code if there is an error

[2018-11-24 12:09] d0x commented on #34
Thats cool, thanks a lot!

[2018-12-03 20:22] marcosfede opened #64 "Expected a combining operator like '-a' at index 1"
sourcing a file with `bass source file` throws
`test: Expected a combining operator like '-a' at index 1`

fish version: 2.7.1

[2018-12-04 05:56] edc commented on #64
Without knowing the content of `file`, or at least the portion of it that contains the `-a` part, I cannot debug.

[2018-12-04 18:42] marcosfede commented on #64
Sorry I should have been more clear.
It happens with any file I source
`touch test`
`bass source test`
triggers the error message

I'm on Mint 19 (does not happen on my mac machine with the same version of fish)

[2018-12-05 03:36] #64 closed

[2018-12-05 03:36] edc commented on #64
This is fixed. Thanks for reporting!

[2019-01-01 22:51] mattbishop opened #65 "set: Tried to change the read-only variable “_”"
I'm getting this error when I run bass from config.fish using fish 3.0.0, Mac OS X 10.13.6's Terminal:

`set: Tried to change the read-only variable “_”`

In config.fish: `bass source ~/.profile`

in .profile:
[code]

Python:
[code]

[2019-01-09 16:31] edc commented on #65
Can you run `bass -d source ~/.profile` and see if you can reproduce it in debug mode?

[2019-01-22 05:36] mattbishop commented on #65
I get this:
[code]

[2019-01-22 05:52] edc commented on #65
@mattbishop Thanks for the update. The culprit is this:

[code]

So in your bash set up, `_` is aliased to launching Python. If you remove that, it will fix the problem.

[2019-01-23 08:43] iamogbz opened #66 "Pass bash options through bass"
Some scripts depend on the current shell options `$-` in their logic. Is there a way to pass all the bash options i.e. login, interactive, [etc](https://linux.die.net/man/1/bash) when executed using bass?

[2019-01-28 03:36] edc commented on #66
I am confused. You use bass with fish, so your current shell is fish, and it does not make sense to pass fish's shell option to bash, right? Could you give a concert example to help me understand the use case?

[2019-01-28 03:36] #65 closed

[2019-01-28 16:05] mattbishop commented on #65
Thanks Ed.

[2019-01-29 00:03] iamogbz commented on #66
I was thinking of translating fish status to bash options. It might not be possible but an example is; when `status --is-interactive` then `$-` in the bash script should have the `-i` option available.

[2019-01-29 07:02] edc commented on #66
A general solution would require quite some work. If all you need is the `-i` option, I suggest you fork this and do:

1) read `status --is-interactive` in `bass.fish` and set an environment variable when you detect the shell is interactive, and
2) in `__bass.py`, check the environment variable, and if it is set, then invoke bash with `-i` option.

[2019-01-29 07:09] edc commented on #66
This diff works for me:

[code]

[2019-01-29 15:15] iamogbz commented on #66
Thanks! Will try this out. Still think it'd be useful to for bass to pass the interactive and login options at least.

[2019-01-30 05:02] #66 closed

[2019-02-20 08:38] jorgebucaran opened #67 "Inquiry: using exec as an alternative to bass"
Hi @edc! 👋

I've been running some experiments and noticed I could use `exec bash -c ...` instead of `bass` for doing the same thing. I was wondering if you were aware of this or if I was missing something.

[code]

One thing this code is missing is setting the exit status when `bash` fails, but I could live without that.

[2019-02-21 05:32] edc commented on #67
Hi @jorgebucaran. That is a nice and elegant, and it did work well! Thanks for sharing! I will update README to mention that.

The downside I can see is that every time that line is run, you will start a new fish shell. So among other things, it will not have access to variable you set earlier.

[code]

You also cannot use it in a fish function or script, because it will terminate the fish process

[2019-02-21 05:32] #67 closed

[2019-03-21 15:36] adamtheturtle opened #69 "ValueError when using a particular command"
I saw this error and I expect that `bass` should not give a Python traceback.

[code]

[2019-03-21 15:36] adamtheturtle commented on #69
Thank you for the software!

[2019-03-27 17:53] IvanEh opened #70 "Coloured output is not working"
When I run something like ```bass git status``` the output is of one colour. I know that the example doesn't demonstrate the use case well but I have some scripts that output some useful information. Is it possible to pass colour codes to standard output so that it's correctly displayed?

Thanks for the tool, it's great in any case

[2019-03-28 06:07] edc commented on #70
You don't need bass to run `git status`. May I ask why you need to do this?

It might not be easy to fix, because here `git` will detect whether the output is a terminal and then output colored or plain text. That's why if you run `git status | tee /tmp/x` you also won't see colored output.

[2019-03-28 06:09] edc commented on #70
See this: https://unix.stackexchange.com/questions/10823/where-do-my-ansi-escape-codes-go-when-i-pipe-to-another-process-can-i-keep-them

[2019-03-28 06:11] edc commented on #70
Found this: https://stackoverflow.com/questions/3515208/can-colorized-output-be-captured-via-shell-redirect and it seemed to work for me:

[code]

[2019-03-29 20:51] IvanEh commented on #70
`git status` is just a simplified example that came to my mind. Thank you for explaining, now it makes sense and it's clear where to look.

[2019-03-29 20:51] #70 closed

[2019-03-31 05:13] edc commented on #69
Thanks for reporting. I pushed a fix. Please give it a try.

Also btw, you don't need to bass to run that command. You can just run it with `bash -c`.

[2019-03-31 09:39] adamtheturtle commented on #69
Thank you @edc - however I have tried `bass` with the exact command from above after updating and I encountered the same error.

[2019-04-01 04:32] edc commented on #69
You need to make sure there is no space before EOF for the here document to work properly.

[code]

[2019-06-18 21:54] tbodt commented on #69
The fix for this broke returning errors from bass.

[2019-06-19 04:37] dongwangdw opened #72 "python version"
I got python3 installed by default but python. when to run bass, it broke. Does it support python3? Or should I fix it.

[2019-06-19 09:24] edc commented on #72
It should work. If it does not, please post the error message. Thanks!

[2019-06-19 09:24] #63 closed

[2019-06-19 09:41] dongwangdw commented on #72
python means python2. what if I did not install python2 but have python3 installed? The program will complain with error. No python found. Yes, I can make a link from python3 to python. but that is not elegant.

[2019-06-19 09:44] edc commented on #72
I think it just needs to be able to find python2 or python3 in PATH. `set -gx PATH /path/to/dir/containing/python $PATH`.

[2019-06-19 10:40] JLLeitschuh opened #73 "Exception when encountering u'\u2192' character"
The u2192 character is not supported.

[code]

[2019-06-19 12:17] dongwangdw commented on #72
yes. But it will be better make it invisible to python2 or python3. Just make it as `python` in the script.  As long as the python script is compatible between python2 and python3.

[2019-07-13 18:44] edc commented on #73
You have a unicode arrow character ("→") in your environment, maybe to show cute bash prompt? Either remove it, or edit the mentioned line from

    print(script, end='')

to the following:

    print(script.encode('utf8'), end='')

Hope that works.

[2019-07-15 18:09] JLLeitschuh commented on #73
Any plans to update the script to support it or would a PR be useful here?

[2019-07-16 05:52] edc commented on #73
Let me if the fix works? If it does, I can include it. Feel free to submit a PR too.

[2019-07-22 10:19] danielporto opened #74 "Example on how use bass with fish functions needed"
I tried to follow the comments on the __bass.py but unfortunately it did not work.
Maybe I got lost with the 'nvm'  example...

Context: I have only a bash script file with a few simple functions and variables that I would like
to make it available to fish upon starting the shell.
To achieve it I created a fish function that calls "bass source myenvs.sh" but I can see that it fails sometimes becau

[2019-07-26 05:55] edc commented on #74
It looks like you did not install bass correctly and that may be why it is not available.

Also, bass can help you with environment variables but cannot help you with bash functions.

[2019-07-26 05:56] #73 closed

[2019-07-26 05:57] edc commented on #72
It supports both python2 and python3, and I believe the travis CI tests for all major python versions.

[2019-07-26 05:57] #72 closed

[2019-07-26 16:52] JLLeitschuh commented on #73
Haven't had the cycles to try this yet, sorry.

[2019-08-03 01:33] dessalines opened #75 "Not clear on how to use this with bash functions."

[2019-08-28 20:32] ricardomatias opened #76 "bass command triggers rm to remove a temp file"
OS: Mac OS X 10.14.6
Fish: 3.0.2

Every time I use `bass` I get a prompt from `rm` asking if I want to remove a temporary file. (as the example below)
This might be related to the pull requested merged yesterday, since the timing fits.

[code]

[2019-08-29 04:39] edc commented on #76
I am not able to reproduce it. Could you try running it with `-d` and see if it's helpful? You may also take a look at the content of temp file and see it's indeed generated by bass.

[2019-08-29 04:47] edc commented on #76
I think it's because your `rm` is an alias to `rm -i`. Let me push a potential fix.

[2019-08-29 04:56] edc commented on #76
Done. Please try the fix.

[2019-08-29 07:59] ricardomatias commented on #76
Works, thanks!

[2019-08-29 07:59] #76 closed

[2019-09-20 22:42] OJFord opened #77 "Sourcing large number of exports is very slow, or hangs indefinitely"
For example, with this large (2126 LoC at time of writing) `$file`:
https://github.com/ryanoasis/nerd-fonts/blob/master/bin/scripts/lib/i_material.sh

[code]

hangs longer than I care to wait - certainly non-linearly longer than this `$file` , which is about 3/8 the size:
https://github.com/ryanoasis/nerd-fonts/blob/master/bin/scripts/lib/i_fa.sh

[2019-09-21 06:00] edc commented on #77
Unfortunately, this is a side effect of Bass recently moving from using a temp file to using FIFO pipe for reading all environment variables. On MacOS, the pipe buffer is [16k](https://unix.stackexchange.com/questions/11946/how-big-is-the-pipe-buffer) and it is not changeable from Python. On Linux, this might be fixable by setting `F_SETPIPE_SZ` with `fcntl` but I did not try it. I suggest to just

[2019-09-21 08:13] OJFord commented on #77
I see, thanks.

That's not really ideal when, as is the case here, it's a third party file. In this case it might be safe since each line should always be independent - but the one I actual want to source is `i_all.sh` which is a loop through files in its directory, so that won't work (and as a result it's a small file anyway).

[2020-01-27 11:22] Talent30 commented on #72
This is the error message from Ubuntu 19.10
[code]

[2020-01-27 11:31] Talent30 opened #79 "Command 'python' not found"
I have python3 installed by default. Bass returns:
[code]

[2020-01-28 05:44] edc commented on #79
If you have python installed already, it is not on your `PATH`, and your shell cannot find it. You need to update your `PATH` to add the directory where python binary is. For example, if python is installed to `/opt/bin/python`, then you need to add this line to your fish config at `~/.config/fish/config.fish`:

[code]

[2020-01-28 05:44] #79 closed

[2020-02-06 19:37] akashkw opened #81 ""Variables may not be used as commands""
The latest merge (65cb4cbdba563b04b58eb7d4ca331cd331edd868) causes bass to break on my machine. Reverting to (20837aa45a7dee98da46ce05eaf6b7c4d7aa09a5) seems to fix the issue. I'm running Ubuntu 18.04 with fish 2.7.1. Running bass results in the error "Variables may not be used as commands, In fish, please define a function or use 'eval $python'.".
![image](https://user-images.githubusercontent.co

[2020-02-07 17:24] #81 closed

[2020-02-07 17:25] edc commented on #81
@akashkw Could you give my fix a try? Thanks!

[2020-02-11 01:08] OJFord commented on #77
@edc Could we perhaps have a flag to say `--use-temp-file` in cases where this can be anticipated?

[2020-02-12 16:08] akashkw commented on #81
@edc works perfectly, thank you

[2020-02-16 17:55] edc commented on #77
I don't have plan to implement that in the short to medium term, especially because Bass does not really parse flags properly. But I definitely welcome patches.

[2020-02-16 18:07] OJFord commented on #77
No problem, thanks; it is a recurring itch for me, so I may get around to scratching it.

For my own reference, this change was in #33.

[2020-02-25 11:15] tycho01 opened #82 "variables cannot be bracketed"
Trying bass with a syntax construct I knew differed between `bash` and `fish`:
[code]
I guess this is out-of-scope for now huh :sweat_smile:, or is this just a limitation of how you're working from within fish?

[2020-03-01 07:20] edc commented on #82
 You can quote it so fish will not try to interpret the variable.

    $ bass echo '${PATH}'

[2020-03-01 07:20] #82 closed

[2020-03-10 03:34] popbones commented on #77
I think I have the same issue. We have a shell script which we need to source for a project. It includes a lot of large environment variables. Whenever I do `bass source env.sh` it hangs. Or at least it takes very long.

I've been using this https://github.com/edc/bass/pull/83 to mitigate the issue. I haven't touch Python for a while and I didn't dive into hunting down the root cause. But do have

[2020-03-10 04:49] edc commented on #77
I merged #83. Thanks for the fix!

[2020-03-10 12:33] OJFord commented on #77
Thanks! I'll certainly give that a go, and close if that resolves mine too. Cheers.

[2020-03-13 01:42] nirvdrum commented on #79
@edc The problem here is there is no binary named `python` (at least in Ubuntu) if Python 3 is the only one installed. Ubuntu says they [will not symlink python to python3](https://wiki.ubuntu.com/Python/3), citing the advice provided in [PEP 394](https://legacy.python.org/dev/peps/pep-0394/). Without every user explicitly creating symlinks, bass does not work out of the box with Ubuntu 20.04+.

[2020-03-13 01:59] nirvdrum commented on #79
Investigating this a bit more, the `bass.fish` properly invokes `python3` if available, but `__bass.py` does not. I'll open a PR.

[2020-03-13 09:33] Talent30 commented on #79
Thank you very much!

[2020-03-28 11:55] livioribeiro opened #85 ""Bass internal error!" when status code is not 0"
I'm using Fedora 31 and just installed bass and I receive the following errors when running any command with that does not have a status code equal to "0":

[code]

The problem is here:
https://github.com/edc/bass/blob/c0d11420f35cfbcb62f94be0dfcf9baf70a9cea5/functions/__bass.py#L72

It seems that `new_env` is empty when the command does not return successfuly.

I changed that line to

[code]

and

[2020-03-30 18:46] lordlycastle commented on #85
Have the same issue. Would love to know if this is a correct fix and get an update.

[2020-03-30 19:02] livioribeiro commented on #85
I just found that the solution is to edit a few lines before that:

https://github.com/edc/bass/blob/c0d11420f35cfbcb62f94be0dfcf9baf70a9cea5/functions/__bass.py#L69

Changing that to:

[code]

But then again, I do not know the consequences of doing that.

[2020-03-31 05:04] #85 closed

[2020-03-31 05:04] edc commented on #85
Just pushed a fix. Hope it helps.

[2020-03-31 05:05] edc commented on #77
@OJFord This is good to close?

[2020-03-31 05:06] edc commented on #75
@dessalines this is good to close? If not, please provide more details. Thanks!

[2020-03-31 05:08] edc commented on #74
@danielporto were you able to get it to work? If yes, I would like to close this. If not, please provide more details. Thanks!

[2020-03-31 05:08] edc commented on #40
This should be fixed. I am closing this. Please reopen if it is still broken.

[2020-03-31 05:08] #40 closed

[2020-03-31 05:09] #69 closed

[2020-03-31 18:08] dessalines commented on #75
If bass isn't going to support bash -> fish functions, then its good to close, and add that as a disclaimer on the readme.

[2020-04-02 03:18] edc commented on #75
Actually bash function should be easily usable as @tbodt pointed out. Another example:

[code]

Basically, you `source` before you invoke the function. Wrap the whole thing in a function/alias if you use it a lot:

[code]

[2020-04-02 03:18] #75 closed

[2020-04-02 15:46] dessalines commented on #75
I have a `.bashrc` with many aliases, and functions in it. If I can run `bass source .bashrc`, and it picks up all the aliases, why shouldn't it be able to handle many functions, if the parsing is that trivial?

[2020-04-02 16:39] edc commented on #75
@dessalines I am not sure I understand your question. But you *can* use all the functions in `.bashrc`, as long as you source it first in the *same* bass call:

[code]

Bass invokes bash behind the scene in non-interactive mode, so it does not source `.bashrc` automatically, and you'll have to source it manually to use any function in it.

For example, my `.bashrc` defines a function `ll` that doe

[2020-04-02 16:53] dessalines commented on #75
Bass imports aliases differently than you're describing above, it puts them all as fish aliases.

[2020-04-02 17:19] edc commented on #75
@dessalines you are right. The approach above only works with bash functions. Aliases are imported differently. If the imported aliases use bash functions, then it will break.

My suggestion is to convert the few aliases you rely on into functions, and save them in a new file, say, `aliases.sh`, and then do `bass source foo.sh ; source aliases.sh ; bar`, where `bar` is the converted alias.

[2020-05-17 16:17] OJFord commented on #77
@edc Sorry for the delay.

Snappy:
[code]

Hangs:
[code]

[2020-06-24 13:25] LucasPickering opened #87 "Sourcing bash alias with question mark triggers `No matches for wildcard` error"
I'm trying to source a bash script that defines the alias `k?`. Specifically it has this line:

[code]

Sourcing this works just fine in bash, but when I source it via bass, I get:

[code]

I can easily get around this by just commenting out that line in the script, but as this is a shared script for my company, I can't actually get rid of it.

fish version: 3.1.2

Aside from this, bass has been g

[2020-07-20 04:11] edc commented on #87
The issue is that fish does not allow `?` in aliases:

[code]

We could potentially replace the question mark in alias with something like `_`, but it might introduce conflict. Or we could also drop these problematic aliases. WDYT?

[2020-07-20 22:07] LucasPickering commented on #87
@edc I would suggest we just drop those aliases, but also print out a warning about it if possible so it doesn't happen invisible. I think that's probably the easiest and safest solution.

[2020-08-10 11:54] RafalSkolasinski opened #88 "cannot read file system information bug"
Seems something is broken, on Ubuntu 20.04 after adding `bass` through fisher I am getting:
[code]
on the `fish` instances

[2020-08-10 11:57] RafalSkolasinski commented on #88
NVM, problem is in other extension which got rolled back to default version after issuing fisher command.

[2020-08-10 11:57] #88 closed

[2020-09-23 13:47] hellow554 opened #89 "`$1` is set in contrast to bash"
a.sh:
[code]

---

`bash -c 'source a.sh'`

`bass source a.sh`

This confuses some scripts which might accept an optional argument (in my case it's the poky script from yocto)

[2020-09-23 13:57] hellow554 commented on #89
Funny enough, when I type

`fish ~/.local.share/omf.pkg/bass/functions/bass.fish source a.sh` the output is empty as well like bash would do. That's something beyond my paygrade ;)

[2020-10-21 19:24] RuijieYu opened #90 "Test scripts: using double `dirname` does not work if command line is `./test_dollar_on_output.fish`"
I was trying to make an unofficial package for archlinux, and noticed that the test script `test_dollar_on_output.fish` does not work if the testing was run using `cd bass/test; fish test_dollar_on_output.fish`, and fish tries to source the file `./bass.fish` which does not exist in the `test` directory. What you have in `test_bass.fish` works fine, so you can copy over what you have in that file

[2020-10-21 22:42] #90 closed

[2020-10-21 22:42] edc commented on #90
Done. Thanks!

[2020-10-29 05:03] #87 closed

[2020-10-29 05:03] edc commented on #87
Thanks for reporting, and sorry about the late response. This is now fixed.

[2020-10-29 05:07] edc commented on #89
This is very interesting. I looked into it, and this seems hard to fix because we intentionally set `$1` etc to mimic running the script:

[code]

[2020-10-29 07:05] hellow554 commented on #89
wontfix is a disappointing label :(

The difference is that your command is `bass ./a.sh` and mine is `bass source a.sh`. So you could distinguish it.

[2020-11-03 12:00] bentitmus opened #91 "Alias with $* does not get correctly converted"
For aliases with `$*` in them, bash will accept the alias. `fish` complains because these aren't valid in `fish`. `bass` should convert these to an acceptable form for `fish`. Test case:

[code]

[code]

[code]

I believe `bash` is just silently dropping the `$*`, although I don't have a lot of experience of `bash`.

Unfortunately this is in some scripts that I can't change, otherwise I'd just alt

[2020-11-03 21:39] OJFord opened #92 "Significantly slower during config.fish than in a running shell?"
I'm hesitant to even open this, because I really don't understand what or how is happening, but it's really repeatable and badly affects my terminal start time:

With a `time bass source .profile` in my `config.fish`:
[code]

Why is it so much slower when invoked from `config.fish`? Sure, there's other stuff in there, but it's only the `bass source` that I'm timing, as the combination of `fish` &

[2020-11-03 21:40] OJFord commented on #92
Oh, ah!

[code]

(Changed `.profile` to `$HOME/.profile` in order to exactly match `config.fish`!)

[2020-11-03 21:47] OJFord commented on #92
Which of course you'd think could only be a `fish` issue, but:
[code]

I don't understand this..!

[2020-11-03 21:49] OJFord commented on #92
Ah, of course.. :facepalm:  - it's not that there's a variable interpolated, it's that it's an absolute path:

[code]

[2020-11-03 22:02] OJFord commented on #92
Wrong again..! It seems to be the presence of forward slashes, not necessarily that it's at the beginning (an absolute path).

[2021-03-24 07:33] hellow554 commented on #89
ping @edc

[2021-04-28 06:21] ankurkotwal opened #98 "Bass and ssh-agent aren't interacting well on Linux"
When I run `bass ssh-agent`, it always gets stuck in foreground mode and doesn't exit. This also happens if ssh-agent is being run from within a bash script. I'm running the latest bass (as of 28th April 2021) and fish shel v3.1 on Ubuntu 20.04 (via WSL). If I run ssh-agent from fish (via `bash -c ssh-agent`), it runs and exits as per normal.

I confirmed this same behavoiur on Ubuntu 18.04 (bare

[2021-05-01 15:00] happyeggchen opened #99 "Can bass convert script files?"
I got many bash script and now i want to convert them into fish script,can bass do this?

[2021-05-17 05:12] edc commented on #99
No. Bass cannot convert script. It only helps you run bash script and replay certain side-effects (such as setting environment variables).

[2021-05-17 05:12] #99 closed

[2021-06-02 18:27] skycaptain commented on #89
I was facing the same issue today. I was just about commiting a fish version of the `oe-init-build-env` and `oe-setup-builddir` scripts to their mailing list, before a came across this project, which seems more reasonable to me, as rewriting bash scripts for fish can be tenacious and expensive.

Anyway, I had a look at the sources, especially at [this part](https://github.com/edc/bass/blob/2fd3d21

[2021-07-14 03:05] zavorka commented on #89
Scripts that access the value of `$0` expect to find a path to an interpreter or a path to themselves, a space-delimited list of words will thus likely be something they are not prepared to handle.

[2021-07-14 03:08] zavorka commented on #89
@skycaptain

Scripts that access the value of `$0` expect to find a path to an interpreter or a path to themselves, a space-delimited list of words will thus likely be something they are not prepared to handle.

[2021-07-14 09:18] skycaptain commented on #89
Thanks @zavorka. I can confirm that your PR is working with the openembedded init script.

[2021-07-14 11:22] hellow554 commented on #98
I would suggest to use https://github.com/danhper/fish-ssh-agent

[2021-07-19 17:42] edc commented on #98
@ankurkotwal does @hellow554's advice work for you? If not, I will look into it during the weekend.

[2021-07-19 17:51] edc commented on #89
According to the `-c` section of bash [manual](https://www.gnu.org/software/bash/manual/bash.html#Invoking-Bash):

I think `[BASH, '-c', command, 'bass', ' '.join(sys.argv[1:])]` is the appropriate way to invoke it, though we should probably replace `bass` with something more appropriate because clearly it is not just "used in warning and error messages".

[2021-07-21 07:23] ankurkotwal commented on #98
Thank you @hellow554 and @edc! That plugin works well.

[2021-07-21 07:23] #98 closed

[2021-10-19 17:48] haoadoresorange opened #101 "How does bass import function from bash and why nvm need sourced every time ?"
First I'm sorry if this isn't the right place to ask.

I'm trying to learn how to interact between bash and fish, and bass is an excellent example. I can't understand how bass import bash functions to fish when sourcing a file, I thought it should read and redefine the functions in fish but it's not the case, for example for nvm use case.

And then, providing that bass import the function to fish,

[2021-10-22 19:57] edmcman opened #102 "Annoying virtualenv conflict"
It seems that bass is incompatible with virtualenv.  The problem is that virtualenv changes the python binary in such a way that `python3 -sS` can no longer find the installed modules.

[code]

[2021-11-16 13:28] OJFord opened #103 "Newlines sourced as \\n string literals"
[code]

compare bash:
[code]

[2021-12-27 14:29] kekonn opened #104 "append_path: command not found"
When using bass to run the profile.d directory after login, I get the titular error from 2 files:

* /etc/profile.d/flatpak-bindir.sh
* /etc/profile.d/perlbin.sh

I am running fish v3.1.1 on Garuda.

flatpak-bindir.sh
[code]

gets me "flatpak-bindir.sh: line 4: append_path: command not found"

[2022-01-13 10:03] aommm opened #105 "Quotes disappear from arguments when running script through bass"
Hi,

First of all, this is probably not a bug but more of a support request. Sorry if this is the wrong forum!

Quotes from my input arguments disappear when I run my script though `bass`, but they remain when I run it through `bash`.

I have a script:
[code]

When I run it with bash the quotes are preserved _(expected)_:
[code]

However, when I run it through bass then the quotes disappear _(unex

[2022-01-21 16:10] aommm commented on #105
This seems to be caused by passing the `'{"a":"b"}'` argument through multiple different shells, each shell stripping some of the quotes. In my case, the outermost quotes `'` are stripped by fish, and the innermost `"` are stripped by bash.

I wanted to solve this without forcing the user to write a bunch of `\` manually. I managed to create a workaround that works in my case.

#### Workaround
I'm

[2022-01-31 06:37] edc commented on #105
Thanks for documenting this. Can we close this then?

[2022-02-01 21:04] aommm commented on #105
Yep it can! Will close.

[2022-02-22 12:43] serjflint opened #106 "No module named 'json'"
I installed bass on Ubuntu 18.04 and somehow got this error when calling `bass`
[code]
fish: 3.3.1
python: 2.7.17
python3: 3.7.5

Please tell me which info I should provide for diagnostics.

[2022-02-27 23:47] edc commented on #106
Could you try edit Line 12 of the file `/home/serjflint/.config/fish/functions/__bass.py` and replace `import json` with `import simplejson` and see if it helps?

[2022-02-28 07:37] serjflint commented on #106
@edc It didn't help
[code]

[2022-03-13 18:11] edc commented on #106
There is some issue with your Python setup, so I am going to close this because it is not really related to Bass. If you want to debug, you can add `import pdb;pdb.set_trace()` before Line 12 of the file `/home/serjflint/.config/fish/functions/__bass.py` and then try to use pdb to see why your Python has no json or simplejson.

[2022-03-13 18:11] #106 closed